apiVersion: v1
data:
  query.sql: |
    CREATE TABLE by_who (
        by_who_id   VARCHAR(32)  NOT NULL PRIMARY KEY,
        user_id     VARCHAR(64)  NOT NULL,
        name        VARCHAR(255) NOT NULL,
        description TEXT
    );

    CREATE TABLE category (
        category_id VARCHAR(32)  NOT NULL PRIMARY KEY,
        user_id     VARCHAR(32)  NOT NULL,
        name        VARCHAR(255) NOT NULL,
        description TEXT,
        created_at  TIMESTAMP    DEFAULT CURRENT_TIMESTAMP,
        updated_at  TIMESTAMP    DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
    );

    CREATE TABLE entries (
        tid              VARCHAR(32)  NOT NULL PRIMARY KEY,
        user_id          VARCHAR(64)  NOT NULL,
        transaction_type VARCHAR(32)  NOT NULL,
        owe              TINYINT(1)   NOT NULL,
        date             DATE         NOT NULL,
        reason           VARCHAR(255),
        by_who           VARCHAR(64),
        category         VARCHAR(64),
        amount           DOUBLE       NOT NULL
    );

    CREATE TABLE owe_list (
        id       INT(11)     NOT NULL AUTO_INCREMENT PRIMARY KEY,
        tid      VARCHAR(32) NOT NULL,
        userid   VARCHAR(64) NOT NULL,
        owe_type VARCHAR(32) NOT NULL,
        amount   DOUBLE      NOT NULL
    );

    CREATE TABLE users (
        id       VARCHAR(100) NOT NULL PRIMARY KEY,
        username VARCHAR(100),
        email    VARCHAR(100),
        password VARCHAR(100)
    );

kind: ConfigMap
metadata:
  name: db-schema
  namespace: prod
